@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #9333ea;
}

::-webkit-scrollbar-thumb {
  background: #f1f1f1;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #9d9d9d;
}